<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                  <img class="position-absolute w-100 h-100 pt-5 pe-5" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="" style="object-fit: cover;">
                  <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="" style="width: 200px; height: 200px;">
              </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="h-100">
                  <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">About Us</div>
                  <h1 class="display-6 mb-5">Uniting for a Global Cause: Helping Those Who Need Us Most</h1>
                  <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                      <p class="text-dark mb-2">Aliqu diam amet diam et eos. Clita erat ipsum et lorem sed stet lorem sit clita duo justo erat amet</p>
                      <span class="text-primary">shivaay</span>
                  </div>
                  <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                  <a class="btn btn-primary py-2 px-3 me-3" href="">
                      Learn More
                      <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                          <i class="fa fa-arrow-right"></i>
                      </div>
                  </a>
                  <a class="btn btn-outline-primary py-2 px-3" href="">
                      Contact Us
                      <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                          <i class="fa fa-arrow-right"></i>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-xxl bg-light my-5 py-5">
  <div class="container py-5">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <div class="d-inline-block rounded-pill bg-danger text-white py-1 px-3 mb-3">Feature Causes</div>
          <h1 class="display-6 mb-5">"Donate Blood, Hair, and Gifts - Spread Hope and Save Lives."</h1>
      </div>
      <div class="row g-4 justify-content-center animate__animated animate__fadeInUp">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-danger rounded-top overflow-hidden h-100">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-danger text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>Education</small>
                      </div>
                      <h5 class="mb-3">Donation For Needy Children</h5>
                      <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                      
                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">
                      <div class="causes-overlay">
                          <a class="btn text-white btn-outline-primary" href="">
                              Read More
                              <div class="d-inline-flex btn-sm-square  text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-danger rounded-top overflow-hidden h-100">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-danger text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>HAIR DONATION FORM</small>
                      </div>
                      <h5 class="mb-3">Ensure Wigs for Cancer Patients</h5>
                      <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                     
                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">

                            <div class="text-center causes-overlay">
                              <button type="button " class="btn btn-primary text-white btn-outline-primary" data-bs-toggle="modal" data-bs-target="#hairDonationModal">
                                Open Hair Donation Form
                                <div class="d-inline-flex btn-sm-square  text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                              </button>
                            </div>
                   
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="causes-item d-flex flex-column bg-white border-top border-5 border-danger rounded-top overflow-hidden h-100">
                  <div class="text-center p-4 pt-0">
                      <div class="d-inline-block bg-danger text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                          <small>HAIR DONORS LIST</small>
                      </div>
                      <h5 class="mb-3">Donors Availability</h5>
                      <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                     
                  </div>
                  <div class="position-relative mt-auto">
                      <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">
                      
                          
                            <div class="causes-overlay text-center mb-4 btn text-white btn-outline-primary">
                              <button type="button" class="btn btn-primary" (click)="openDonorList()">
                                View hair donor list
                                <div class="d-inline-flex btn-sm-square  text-white rounded-circle ms-2">
                                  <i class="fa fa-arrow-right"></i>
                              </div>
                            </button> 
                            </div>
                          
                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- Initial Modal -->
<!-- Initial Modal -->
<div class="modal fade animate__animated animate__fadeIn" id="initialModal" tabindex="-1" aria-labelledby="initialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered animate__animated animate__zoomIn">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="initialModalLabel">Welcome to hair-to-care</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="text-center">
            <!-- Intro Message -->
            <p class="lead mb-4 animate__animated animate__fadeInUp">Please donate hair, it will bring smile to children.</p>
            
            <!-- Open Donation Form Button -->
            <button type="button" class="btn btn-dark btn-lg mb-3 animate__animated animate__fadeInUp" (click)="openDonationForm()">
              Open Donation Form
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Hair Donation Modal -->
<div class="modal fade" id="hairDonationModal" tabindex="-1" aria-labelledby="hairDonationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hairDonationModalLabel">Hair to Care Donation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="donation-form" (ngSubmit)="addDonorhair()" #hairDonationForm="ngForm">
          <div class="mb-3">
            <label for="donorName" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="donorName" required [(ngModel)]="donor.name" name="name">
          </div>
          <div class="mb-3">
            <label for="donorContact" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="donorContact" required [(ngModel)]="donor.contact" name="contact">
          </div>
          <div class="mb-3">
            <label for="donorEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="donorEmail" required [(ngModel)]="donor.email" name="email">
          </div>
          <div class="mb-3">
            <label for="donorAge" class="form-label">Age</label>
            <input type="number" class="form-control" id="donorAge" required [(ngModel)]="donor.age" name="age">
          </div>
          <div class="mb-3">
            <label for="donorGender" class="form-label">Gender</label>
            <select class="form-select" id="donorGender" required [(ngModel)]="donor.gender" name="gender">
              <option value="" disabled selected>Select your gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="hairLength" class="form-label">Hair Length (in inches)</label>
            <input type="number" class="form-control" id="hairLength" required [(ngModel)]="donor.hairLength" name="hairLength">
          </div>
         
          <button type="submit" class="btn btn-primary">Submit Donation</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Hair Donor List Modal -->








  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Team Members</div>
            <h1 class="display-6 mb-5">Let's Meet With Our Ordinary Soldiers</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Full Name</h5>
                        <p class="text-primary">Designation</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Full Name</h5>
                        <p class="text-primary">Designation</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>Full Name</h5>
                        <p class="text-primary">Designation</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg?w=1060&t=st=1726074859~exp=1726075459~hmac=e32b6d4c60539b1740bdaf39333f99c2e6605b3e088bbe03d392b825c6bbed3c" alt="">
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>shivam </h5>
                        <p class="text-primary">Designation</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
